page-landing {
    .landing_bg{
        background:url("../assets/imgs/landing_background.png") !important;
        background-position: center !important;
        background-size:cover !important;
    }
    .slides{
        height: calc(100% - 75px) !important;
    }
    .landing_logo{
        text-align: left;
        padding: 15px;
        position: relative;
        top: 20px;
        img{
            width:100px;
        }
    }
    .landing_wrapper{
        
        .landing_content{
            padding: 15px;
            p{
                color: #666666;
                font-weight: 400;
                padding:10px;
                font-size: 14px;
                text-align: justify;
                margin:0px;
                padding-bottom: 40px;
            }
        }
    }
    .landing_bottom{
        width:100%;
        position: absolute;
        bottom:0px;
        right:0px;
        left:0px;
        padding: 15px;
        text-align: right;
        z-index: 9;
        .bottom_btn{
            border-radius:20px;
            padding-left: 25px;
            padding-right:25px;
            height: 30px;
            margin:0px;
        }
        .skip{
            color: #a4a4a4;
            font-weight: 500;
            background: transparent;

        }
        .continue{
            background: #da1c5c;
            color: #fff;
        }
    }
    .swiper-pagination{
        text-align: left;
        bottom:5px !important;
        padding: 8px;
        height: 30px;
        
    }
    .swiper-pagination-bullet{
        margin-right:20px !important;
        height: 5px;
        width:5px;
    }
    .swiper-pagination-bullet-active{
        background: #1c1e60;
        width: 25px;
        border-radius: 20px;
    }
}
